body {
  padding: 20px;
}

.App {
  /* text-align: center; */
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* My styles start */

.pixel {
  border: 1px solid #eee;
  display: inline-block;
  height: 10px;
  width: 10px;
}

.pixel.active {
  /* border: 1px solid red; */
  background-color: red;
}

.canvas-container {
  display: grid;
  grid: auto-flow 11px / repeat(64, 11px);
}

.timescrubber-container {
  margin-top: 30px;
}

.memory-access-container {
  float: left;
  margin-top: 30px;
}

.memory-access-digits {
  display: grid;
  grid: auto-flow 21px / repeat(10, 31px);
}

.memory-access-digits .mem-active {
  border: 2px solid red;
}

.emu-state-container {
  float: right;
  width: 350px;
}

.emu-state-output {
  display: grid;
  grid: auto-flow 21px / repeat(2, 111px);
}

.emu-state-output .active {
  border: 1px solid red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
